extends template.pug 

block content
  .diag
    .row
      .left 
        .arr.rb
      .middle
        h1.text.red: include:markdown-it(inline) ../content/about-1-title.md
      .right
        .arr.lt
        .ah.l
    .row
      .left
        .arr.tb
      .middle
        div: include:markdown-it ../content/about-2.md
    .row
      .left
        .arr.rt
        .ah.r
      .middle
        .text.yellow: include:markdown-it ../content/about-3-block.md
    .row
      .middle
        div: include:markdown-it ../content/about-4.md