extends template.pug 

block content
  h1.hero About the Prize
  .cols 
    .icon 🥇
    p The #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad] (IMO) is a prestigious global high school maths competition. Each country enters teams of six students, who each individually attempt six highly challenging problems over two days, under exam conditions. Answers are marked by an expert panel, which awards individual gold, silver and bronze medals.
  .cols
    .icon
    p The #[a(href="/") AI-MO Prize] has been established to accelerate the development of AI models that can reason mathematically to solve problems. This is a new frontier of knowledge and scientific discovery, for which the AI-MO Prize represents #[em a Turing Test for the 21st Century].
  .cols
    .icon 👉
    div 
      p The AI-MO Prize is proposing three initial design principles:
      ol: li The AI model must consume problems in the same format as human contestants and must produce human readable solutions suitable for grading by an expert panel, using standard IMO criteria.
        li The grand prize will be awarded for performance in an approved competition that is at a standard equivalent to a gold medal in the IMO.
        li To be eligible for prizes, participants must agree to make their AI models publicly available by the time the prize is awarded.
  .cols
    .icon
    p The AI-MO Prize is run independently from the International Mathematical Olympiad. It is also distinct from the #[a(href="https://imo-grand-challenge.github.io/", target="_blank") IMO Grand Challenge], which has a similar goal but a different approach.