extends template.pug 

block content
  h1 About the Prize
  .cols 
    .icon 🥇
    div
      p The #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad] (IMO) is a prestigious global high school maths competition. Countries enter teams of six students, who each individually attempt six highly challenging problems over two days, under exam conditions. Answers are marked by an expert panel, which awards individual gold, silver and bronze medals.
      p A gold medal in the IMO is a benchmark for exceptional mathematical achievement and a strong predictor of future success. IMO gold medallists are 50 times more likely to win a #[a(href="https://en.wikipedia.org/wiki/Fields_Medal", target="_blank") Fields Medal] than a typical Cambridge PhD graduate. Indeed, half of all Fields medallists participated in the IMO in their youth. 
  .cols
    .icon
    p Building on these traditions, the #[a(href="/") AI-MO Prize] has been established to accelerate the development of AI models that can reason mathematically to solve problems. This is a new frontier of knowledge and scientific discovery, for which the AI-MO Prize represents #[em a Turing Test for the next decade].
  .cols
    .icon 👉
    div 
      p The AI-MO Prize is proposing three initial design principles:
      ol
        li The AI model must consume problems in the same format as human contestants and must produce human readable solutions that are gradable by an expert panel, using standard IMO criteria.
        li The grand prize will be awarded for performance in an AI-MO approved competition that is at a standard equivalent to a gold medal in the IMO.
        li To be eligible to win prizes, participants must have adhered to the AI-MO public sharing protocol by the time the prize is awarded.
  .cols
    .icon
    p The AI-MO Prize will run independently, including from the IMO and the IMO Grand Challenge. However, it aims to collaborate with IMO members and a range of Olympiad competitors in the awarding of AI-MO prizes. 
    p Further details about the competition, its rules and protocols will be published in due course.