extends template.pug 

block content
  h1 Get Involved
  .cols
    .icon ✉
    div
      b Contact Us
      p Please get in touch if you have any comments or general questions. We are collating an initial FAQs based on enquiries so far, which we will publish on this site.
      p: a.primary(href="mailto:philanthropy@xtxmarkets.com?subject=AIMO", target="_blank") Send us an email
  .cols
    .icon 🏆
    div
      b Participants
      p We are excited to begin engaging with individuals and teams that are interested in participating in the AI-MO Prize. Please note that there will be entry criteria for competitions. The first AI-MO approved competitions will open in early 2024.
      p: a.primary(href="mailto:philanthropy@xtxmarkets.com?subject=AIMO%20Participation", target="_blank") Register your interest
  .cols
    .icon 👤
    div
      b AI-MO Director Role
      p We are hiring for a Director to lead the AI-MO Prize. This is a paid role, remote working possible, with international travel.
      p: a.primary(href="https://www.xtxmarkets.com/career/director-ai-mo-prize/", target="_blank") Job description
  .cols
    .icon 👥
    div
      b Advisory Committee Members
      p We are also seeking Advisory Committee members, especially mathematicians, deep learning experts and experienced Olympiad problem-setters. These are paid roles, fully remote. 
      p: a.primary(href="https://www.xtxmarkets.com/career/advisory-committee-member/", target="_blank") Job description