extends template.pug 

block content
  .diag
    .row
      .left
        .arr.rb
      .middle
        h1.text.green: include:markdown-it(inline) ../content/involved-1-title.md
    .row
      .left
        .arr.rt
        .arr.tb
        .ah.r
      .middle
        .text: include:markdown-it ../content/involved-2-firstdescription.md
    .row
      .left: .arr.tb
      .middle 
        .arr.tb 
        .ah.b
    .row
      .left: .arr.tb
      .middle(style="text-align:center")
        span.text.yellow: include:markdown-it(inline) ../content/involved-3-firstlink.md
    .row
      .left: .arr.tb
      .middle
    .row
      .left
        .arr.rt
        .arr.tb
        .ah.r
      .middle
        .text: include:markdown-it ../content/involved-4-seconddescription.md
    .row
      .left: .arr.tb
      .middle 
        .arr.tb 
        .ah.b
    .row
      .left: .arr.tb
      .middle(style="text-align:center")
        span.text.red: include:markdown-it(inline) ../content/involved-5-secondlink.md
    .row
      .left: .arr.tb
      .middle
    .row
      .left
        .arr.rt
        .arr.tb
        .ah.r
      .middle
        .text: include:markdown-it ../content/involved-6-thirddescription.md
    .row
      .left: .arr.tb
      .middle 
        .arr.tb 
        .ah.b
    .row
      .left: .arr.tb
      .middle(style="text-align:center")
        span.text.orange: include:markdown-it(inline) ../content/involved-7-thirdlink.md
    .row
      .left: .arr.tb
      .middle
    .row
      .left
        .arr.rt
        .ah.r
      .middle
        .text: include:markdown-it ../content/involved-8-fourthdescription.md
    .row
      .middle 
        .arr.tb 
        .ah.b
    .row
      .middle(style="text-align:center")
        span.text.purple: include:markdown-it(inline) ../content/involved-9-fourthlink.md