extends template.pug 

block content
  .diag
    .row
      .left
        .arr.rb
        .ah.r
      .middle
        h1.text.green: include:markdown-it(inline) ../content/home-01-title.md
    .row
      .left
        .arr.rt
      .middle
        .text.subheading.purple: include:markdown-it(inline) ../content/home-02.md
    .row
      .middle
        .arr.tb
        .ah.b
    .row
      .middle
        .text.yellow: include:markdown-it(inline) ../content/home-03.md
    .row
      .left
        .arr.rb
      .middle
        .arr.tb
        .arr.lr
      .right
        .arr.lb
    .row
      .left
        .arr.rt
        .ah.r
      .middle
        .text.subheading.blue: include:markdown-it(inline) ../content/home-04.md
      .right
        .arr.tb
    .row  
      .middle
        .arr.tb
      .right
        .arr.tb
    .row
      .left
        .arr.rb
      .middle
        .div.text.orange: include:markdown-it(inline) ../content/home-05.md
      .right
        .arr.lt
    .row
      .left 
        .arr.tb
      .middle
        .arr.tb
        .arr.rt
        .ah.b
      .right
        .arr.lb
    .row
      .left: .arr.tb
      .middle
        .div.text.green: include:markdown-it(inline) ../content/home-06.md
      .right: .arr.tb
    .row
      .left: .arr.tb
      .middle: .arr.tb
      .right: .arr.tb
    .row
      .left
        .arr.tb
        .arr.rt
        .ah.r
      .middle 
        .text.subheading.yellow: include:markdown-it(inline) ../content/home-07.md
      .right: .arr.tb
    .row
      .left: .arr.rt
      .middle
        .arr.tb
        .arr.lb
        .arr.rb
      .right: .arr.lt
    .row
      .middle.encoder
        .arr.tb
        .ah.b
        img(src="/diag-encoder.png", width="118", height="64")
    .row
      .middle
        .text.subheading.red: include:markdown-it ../content/home-08.md
    .row: .middle
  div.diagsplit
    .diag
      .row: .middle
        .text: include:markdown-it ../content/home-09-quote1.md
    .diag
      .row: .middle
        .text: include:markdown-it ../content/home-10-quote2.md
