extends template.pug 

block content
  h1.hero $10mn for more capable, open models.
  .cols
    .icon 🏆
    div
      p The #[b Artificial Intelligence Mathematical Olympiad] Prize (AI-MO Prize) is a new $10mn challenge fund to spur the creation of a publicly-shared AI model capable of winning a gold medal in the International Mathematical Olympiad.
      p This includes a grand prize of $5mn for the first public AI model to enter an approved competition and perform at a standard equivalent to a gold medal in the International Mathematical Olympiad.
  .cols
    .icon 📈
    div
      p It will also include progress prizes, totalling up to $5mn, for public AI models that achieve key milestones on the journey towards the grand prize. 
      p The technical specification for the prizes will be determined by #[a(href="/get-involved") advisory committees], comprising mathematicians, AI and machine learning experts, and International Mathematical Olympiad problem-setters.
  .cols
    .icon 🌍
    p The first approved competitions will open in early 2024. The first presentation of progress made will be held in Bath, England on 21 July 2024, as part of the 65th International Mathematical Olympiad.
