extends template.pug 

block content
  .diag
    .row
      .left
        .arr.rb
        .ah.r
      .middle
        h1.text.green $10mn AI Mathematical Olympiad Prize Launches
    .row
      .left
        .arr.rt
      .middle
        div.text.subheading.purple #[a(href="https://xtxmarkets.com/", target="_blank") XTX Markets] is launching a new $10mn challenge fund, the #[b Artificial Intelligence Mathematical Olympiad Prize] (AIMO Prize).
    .row
      .middle
        .arr.tb
        .ah.b
    .row
      .middle
        div.text.yellow The fund intends to spur the development of AI models that can reason mathematically, leading to the creation of a publicly-shared AI model capable of winning a gold medal in the #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad (IMO)].
    .row
      .left
        .arr.rb
      .middle
        .arr.tb
        .arr.lr
      .right
        .arr.lb
    .row
      .left
        .arr.rt
        .ah.r
      .middle
        div.text.subheading.blue The grand prize of $5mn will be awarded to the first publicly-shared AI model to enter an AIMO approved competition and perform at a standard equivalent to a gold medal in the IMO.
      .right
        .arr.tb
    .row  
      .middle
        .arr.tb
      .right
        .arr.tb
    .row
      .left
        .arr.rb
      .middle
        .div.text.orange There will also be a series of progress prizes, totalling up to $5mn, for publicly-shared AI models that achieve key milestones towards the grand prize. 
      .right
        .arr.lt
    .row
      .left 
        .arr.tb
      .middle
        .arr.tb
        .arr.rt
        .ah.b
      .right
        .arr.lb
    .row
      .left: .arr.tb
      .middle
        .div.text.green The prizes will be designed by an #[a(href="/get-involved") AIMO Advisory Committee], including mathematicians, deep learning experts and experienced Olympiad problem-setters.
      .right: .arr.tb
    .row
      .left: .arr.tb
      .middle: .arr.tb
      .right: .arr.tb
    .row
      .left
        .arr.tb
        .arr.rt
        .ah.r
      .middle 
        .text.subheading.yellow The first AIMO approved competitions will open to participants in early 2024.
      .right: .arr.tb
    .row
      .left: .arr.rt
      .middle
        .arr.tb
        .arr.lb
        .arr.rb
      .right: .arr.lt
    .row
      .middle.encoder
        .arr.tb
        .ah.b
        img(src="/encoder.png")
    .row
      .middle
        .text.subheading.red There will be a presentation of progress at #[a(href="https://www.imo2024.uk/", target="_blank") the 65#[sup th] IMO], held in 
          h2 Bath, England in July 2024.
          

  //- h1 
  //- .cols
  //-   .icon 🌍
  //-   div
  //-     p #[a(href="https://xtxmarkets.com/", target="_blank") XTX Markets] is launching a new $10mn challenge fund, the #[b Artificial Intelligence Mathematical Olympiad Prize] (AIMO Prize). The fund intends to spur the development of AI models that can reason mathematically, leading to the creation of a publicly-shared AI model capable of winning a gold medal in the #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad (IMO)].
  //- .cols
  //-   .icon 🏆
  //-   div
  //-     p The grand prize of $5mn will be awarded to the first publicly-shared AI model to enter an AIMO approved competition and perform at a standard equivalent to a gold medal in the IMO.
  //-     p There will also be a series of progress prizes, totalling up to $5mn, for publicly-shared AI models that achieve key milestones towards the grand prize. 
  //- .carousel
  //-   div
  //-     .quote The AIMO Prize [..] will help compare different AI problem solving strategies at a technical level, in a manner that will be accessible and appealing to the broader public.
  //-     a.full(href="/supporters") view more
  //-     .byline #[b Terence Tao], UCLA

  //-   div
  //-     .quote I am sure that many people will be following the AIMO Prize with great excitement, to see when, in the future, AI will match the world's brightest young minds.
  //-     a.full(href="/supporters") view more
  //-     .byline #[b Gregor Dolinar], IMO President
  //- .cols
  //-   .icon 📈
  //-   div
  //-     p The prizes will be designed by an #[a(href="/get-involved") AIMO Advisory Committee], including mathematicians, deep learning experts and experienced Olympiad problem-setters.
  //-     p The first AIMO approved competitions will open to participants in early 2024. There will be a presentation of progress at #[a(href="https://www.imo2024.uk/", target="_blank") the 65#[sup th] IMO], which will be held in Bath, England in July 2024.
  //+reddit('https://www.reddit.com/r/AIMOprize/comments/18fvgb3/progress_prizes_discussion/')
  //+comments({
  //  twitter: 'https://twitter.com/AlexanderGerko/status/1729113193706832265', 
  //  hn:'https://news.ycombinator.com/item?id=38431482', 
  //  reddit:'https://www.reddit.com/r/math/comments/18555ao/xtx_markets_is_launching_a_new_10mn_challenge/'
  //})
