extends template.pug 

block content
  h1 Artificial Intelligence Mathematical Olympiad Prize
  .cols
    .icon 🌍
    div
      p #[a(href="https://xtxmarkets.com/", target="_blank") XTX Markets] is launching the #[b Artificial Intelligence Mathematical Olympiad Prize] (AI-MO Prize), a new $10mn challenge fund designed to spur the creation of a publicly-shared AI model capable of winning a gold medal in the International Mathematical Olympiad (IMO).
  .cols
    .icon 🏆
    div
      p There will be a grand prize of $5mn for the first publicly-shared AI model to enter an AI-MO approved competition and perform at a standard equivalent to a gold medal in the IMO.
      p There will also be a series of progress prizes, totalling up to $5mn, for publicly-shared AI models that achieve key milestones towards the grand prize. 

  .cols
    .icon 📈
    p The technical specification for prizes will be determined by #[a(href="/get-involved") AI-MO Advisory Committees], including mathematicians, AI and machine learning experts, and experienced Olympiad problem-setters.
    p The first AI-MO approved competitions will open to participants in early 2024. There will be a presentation of progress held in Bath, England in July 2024, as part of #[a(href="https://www.imo2024.uk/", target="_blank") the 65th IMO].
