extends template.pug 

block content
  h1 $10mn AI Mathematical Olympiad Prize Launches
  .cols
    .icon 🌍
    div
      p #[a(href="https://xtxmarkets.com/", target="_blank") XTX Markets] is launching a new $10mn challenge fund, the #[b Artificial Intelligence Mathematical Olympiad Prize] (AI-MO Prize). The fund intends to spur the development of AI models that can reason mathematically, leading to the creation of a publicly-shared AI model capable of winning a gold medal in the #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad (IMO)].
  .cols
    .icon 🏆
    div
      p The grand prize of $5mn will be awarded to the first publicly-shared AI model to enter an AI-MO approved competition and perform at a standard equivalent to a gold medal in the IMO.
      p There will also be a series of progress prizes, totalling up to $5mn, for publicly-shared AI models that achieve key milestones towards the grand prize. 
  .carousel
    div
      .quote The AI-MO Prize [..] will help compare different AI problem solving strategies at a technical level, in a manner that will be accessible and appealing to the broader public.
      a.full(href="/supporters") view more
      .byline #[b Terence Tao], UCLA

    div
      .quote I am sure that many people will be following the AI-MO Prize with great excitement, to see when, in the future, AI will match the world's brightest young minds.
      a.full(href="/supporters") view more
      .byline #[b Gregor Dolinar], IMO President
  .cols
    .icon 📈
    div
      p The prizes will be designed by an #[a(href="/get-involved") AI-MO Advisory Committee], including mathematicians, AI and machine learning experts, and experienced Olympiad problem-setters.
      p The first AI-MO approved competitions will open to participants in early 2024. There will be a presentation of progress at #[a(href="https://www.imo2024.uk/", target="_blank") the 65#[sup th] IMO], which will be held in Bath, England in July 2024.
