html {
  background: rgb(23 32 34);
  color: rgb(233, 245, 248);
  font-family: system-ui;
  line-height: 1.2;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(109, 231, 255);
  text-decoration: none;
}

a.primary {
  border: 1px solid rgb(233, 245, 248);
  color: inherit;
  border-radius: 3px;
  padding: 5px;
}

.quote {
  font-style: italic;
  letter-spacing: .5px;
  padding-left: 10px;
  border-left: 1px solid #6ca2ad;
}

li {
  margin-bottom: 1em;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  font-weight: normal;
  text-align: center;
  margin: 1.5em 0;
}

.hero {
  text-align: center;
  margin: 15vh 0;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  padding: 1px 20px 20px;
  min-height: 100vh;
  background: rgba(23, 32, 34, .3);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.pagenav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cols {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
}

.cols>*:not(.icon) {
  flex: 1;
}

.cols .icon {
  font-size: 60px;
  filter: sepia(1) hue-rotate(130deg);
  width: 80px;
  text-align: center;
}

.cols .icon img {
  width: 80px;
  border-radius: 3px;
}

.nav-desktop {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.nav-desktop a {
  color: inherit;
  padding: 5px;
}

.nav-mobile {
  display: none;
  padding: 20px;
  text-align: center;
}

.nav-mobile a {
  display: block;
  margin: 10px;
}

.footer {
  font-size: .7em;
  line-height: 1;
  text-align: center;
  opacity: .7;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background ellipse,
.background path {
  stroke: rgb(30, 63, 70);
  fill: transparent;
  transition: all 1s linear;
}

.background .one {
  stroke: rgb(108, 162, 173);
}

.background .two {
  fill: rgb(30, 63, 70);
}

@media(max-width: 600px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
    background: rgba(30, 63, 70, 0.5);
  }

  .content {
    backdrop-filter: none;
    background: none;
  }

  .cols {
    flex-direction: column;
  }

  /* .cols .icon {
    font-size: 40px;
    width: 60px;
  }

  .cols .icon img {
    width: 60px;
  } */
}