html {
  background: rgb(23 32 34);
  color: rgb(233, 245, 248);
  font-family: system-ui;
  line-height: 1.1em;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  font-weight: normal;
}

.hero {
  text-align: center;
  margin: 20vh 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1px 20px;
  min-height: 100vh;
  background: rgba(23, 32, 34, .3);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.nav-desktop {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.nav-desktop a {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.nav-desktop a.primary {
  border-color: rgb(233, 245, 248);
}

.nav-mobile {
  display: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background ellipse,
.background path {
  stroke: rgb(30, 63, 70);
  fill: transparent;
  transition: stroke .5s linear;
}

.background .hi,
.background *:hover {
  stroke: rgb(108, 162, 173);
}

@media(max-width: 600px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
  }
}