extends template.pug 

block content
  .diag
    .row
      .left: .arr.rb
      .middle
        h1.text.yellow: include:markdown-it(inline) ../content/supporters-01-title.md
    .row
      .left
        .arr.tb
        .arr.rt
        .ah.r
      .middle
        blockquote: include:markdown-it ../content/supporters-02-firstquote.md
    .row
      .left: .arr.tb
      .middle: .text.green: include:markdown-it(inline) ../content/supporters-03-firstcaption.md
    .row
      .left: .arr.tb
      .middle
    .row
      .left
        .arr.tb
        .arr.rt
        .ah.r
      .middle
        blockquote: include:markdown-it ../content/supporters-04-secondquote.md
    .row
      .left: .arr.tb
      .middle: .text.purple: include:markdown-it(inline) ../content/supporters-05-secondcaption.md
    .row
      .left: .arr.tb
      .middle
    .row
      .left
        .arr.tb
        .arr.rt
        .ah.r
      .middle
        blockquote: include:markdown-it ../content/supporters-06-thirdquote.md
    .row
      .left: .arr.tb
      .middle: .text.red: include:markdown-it(inline) ../content/supporters-07-thirdcaption.md
    .row
      .left: .arr.tb
      .middle
    .row
      .left
        .arr.tb
        .arr.rt
        .ah.r
      .middle
        blockquote: include:markdown-it ../content/supporters-08-fourthquote.md
    .row
      .left: .arr.tb
      .middle: .text.yellow: include:markdown-it(inline) ../content/supporters-09-fourthcaption.md
    .row
      .left: .arr.tb
      .middle
    .row
      .left
        .arr.rt
        .ah.r
      .middle
        blockquote: include:markdown-it ../content/supporters-10-fifthquote.md
    .row
      .middle: .text.blue: include:markdown-it(inline) ../content/supporters-11-fifthcaption.md