extends template.pug 

block content
  h1 Supporters
  .cols
    .icon: img(src="/Gregor-Dolinar.jpg", title="Gregor Dolinar")
    div
      div.quote
        p Using hard mathematical problems as a benchmark to determine if AI can match the highest cognitive functions of human beings is a wonderful idea. 
        p Every year, more than 600 of the best students from more than 110 countries are challenged with 6 extremely difficult IMO problems, typically only one or two students solve all 6 IMO problems in the allotted 9 hours. These problems test their ability to formulate concepts and engage in long chains of reasoning. 
        p I am sure that many people will be following the AI-MO Prize with great excitement, to see when, in the future, AI will match the world's brightest young minds.
      b Gregor Dolinar
      div President, #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad]
  .cols
    .icon: img(src="/Geoff-Smith.jpg", title="Geoff Smith")
    div
      div.quote
        p The ability of modern AI systems to create a facsimile of a human when engaging in a written exchange is remarkable. However, this works best when there is a large corpus of relevant material already placed on the internet by people. 
        p It will be a far more demanding task to mimic a creative mathematician as they engage in abstract reasoning. The global IMO community will be delighted to be involved in supporting this competition, as we seek to measure AI systems against the best young mathematical minds.
      b Geoff Smith
      div Former President, #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad]
      div Advisory Committee Member, #[a(href="/") AI-MO Prize]
  .cols
    .icon: img(src="/Alex-Gerko.jpg", title="Alex Gerko")
    div
      div.quote
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      b Alex Gerko
      div Founder, #[a(href="https://xtxmarkets.com/", target="_blank") XTX Markets]
