extends template.pug 

block content
  h1.hero Supporters
  .cols
    .icon: img(src="/pythagoras.jpg" title="Pythagoras")
    div
      p.quote Hopefully a quote will go here about how great the idea is.
      p.quote Maybe it will spill onto multiple short paragraphs.
      b Pythagoras
  .cols
    .icon 
    div
      b Alex Gerko
      div Founder, #[a(href="https://xtxmarkets.com/", target="_blank") XTX Markets]
  .cols
    .icon 
    div
      b Gregor Dolinar
      div President, #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad]
  .cols
    .icon
    div
      b Geoff Smith
      div Former President, #[a(href="https://www.imo-official.org/", target="_blank") International Mathematical Olympiad]
      div Advisory Committee Member, #[a(href="/") AI-MO Prize]