mixin nav
  a(href="/") The AI-MO Prize
  a(href="/about") About
  a(href="/supporters") Supporters
  a.primary(href="/get-involved") Get Involved

html
  head
    title AI-MO Prize
    link(rel="icon", href="/favicon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="The Artificial Intelligence Mathematical Olympiad Prize (AI-MO Prize) is a new $10mn challenge fund to spur the creation of a public AI model capable of winning a gold medal in the International Mathematical Olympiad.")
    style
      include ./style.css
    script(src="/turbolinks.js")
  body
    div.background(id="bg", data-turbolinks-permanent)
      include ./pattern.svg
      script.
        function animate(){
          document.querySelectorAll('.background ellipse, .background path[pointer-events="all"]').forEach(el => {
            setTimeout(() => {
              if(Math.random()>.98){
                el.classList.add('one');
              }else if(Math.random()>.95){
                el.classList.add('two');
              }else if(Math.random()>.1){
                el.classList.remove('one', 'two');
              }}, Math.random()*4000);
          });
          setTimeout(animate, 4000 + (Math.random()*1000));
        }
        animate();
    div.content
      details.nav-mobile
        summary Menu
        +nav
      div.nav-desktop
        +nav
      block content
      div.footer
        p XTX Markets Limited | #[a(href="mailto:admin@aimoprize.com") Enquiries]