mixin nav
  a(href="/") AI-MO Prize
  a(href="/about") About
  a(href="/supporters") Supporters
  a.primary(href="/get-involved") Get Involved

doctype html
html(lang="en")
  head
    title AI-MO Prize
    link(rel="icon", href="/favicon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="XTX Markets is launching a new $10mn challenge fund, the Artificial Intelligence Mathematical Olympiad Prize (AI-MO Prize). The fund intends to spur the development of AI models that can reason mathematically, leading to the creation of a publicly-shared AI model capable of winning a gold medal in the International Mathematical Olympiad (IMO).")
    meta(property="og:image", itemprop="image", content="https://aimoprize.com/banner-sq.png")
    meta(property="og:image:type", content="image/png")
    meta(property="og:image:width", content="300")
    meta(property="og:image:height", content="300")
    meta(property="og:image", itemprop="image", content="https://aimoprize.com/banner.png")
    meta(property="og:image:type", content="image/png")
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="600")

    meta(property="og:title", content="AI-MO Prize")
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary_large_image")
    meta(property="twitter:creator", content="@aimoprize")
    meta(property="og:description", content="XTX Markets is launching a new $10mn challenge fund, the Artificial Intelligence Mathematical Olympiad Prize (AI-MO Prize). The fund intends to spur the development of AI models that can reason mathematically, leading to the creation of a publicly-shared AI model capable of winning a gold medal in the International Mathematical Olympiad (IMO).")
    meta(property="og:site_name", content="AI-MO Prize")
    style
      include ./style.css
    script(src="/turbolinks.js", defer)
  body
    div.content
      details.nav-mobile
        summary Menu
        +nav
      div.nav-desktop
        +nav
      block content
      div.footer
        include:markdown-it ../content/footer.md