mixin nav
  a(href="/") The AI-MO Prize
  a(href="/about") About
  a(href="/supporters") Supporters
  a.primary(href="/get-involved") Get Involved

html
  head
    title AI-MO Prize
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include ./style.css
    script(src="/turbolinks.js")
  body
    div.background(id="bg", data-turbolinks-permanent)
      include ./pattern.svg
      script.
        function animate(){
          document.querySelectorAll('.background ellipse').forEach(el => {
            setTimeout(() => {
              if(Math.random()>.95){
                el.classList.add('hi');
              }else if(Math.random()>.1){
                el.classList.remove('hi');
              }}, Math.random()*2000);
          });
          setTimeout(animate, 2000 + (Math.random()*1000));
        }
        animate();
    div.content
      details.nav-mobile
        summary Menu
        +nav
      div.nav-desktop
        +nav
      block content
      div.footer
        p XTX Markets Limited | #[a(href="mailto:admin@aimoprize.com") Enquiries]